@use "./config" as *;


.movies {
  position: relative;

  h1 {
    width: 100%;
    text-align: left;

    &::after {
      content: "";
      display: block;
      position: relative;
      bottom: -0.15rem;
      left: 0;
      width: 100%;
      height: 1px;
      background: $clr-accent-a30;
    }
  }

  .btn {
    position: absolute;
    right: 0;
    padding: 0.3rem 1rem;
  }
}
  
.movie-details {
  margin: auto 2rem;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;

  .movie-title {
    margin: 0.6rem auto;
  }

  .subtitle {
    font-weight: 300;
    font-size: 0.65rem;
  }
  
  .info {
    font-size: 0.65rem;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .details {
    margin: 0 0.8rem;
    
    &:first-child {
      margin-left: 0;
    }
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  .youtube {
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;

    iframe {
      justify-self: flex-start;
      border-radius: 8px;
    }
  }
  
  .cast-crew {
    justify-self: center;
    height: 110%;
    width: 75%;

    &.grid {
      grid-template-columns: auto 75%;
    }
    
    a {
      font-weight: bold;
      font-size: 0.75rem;
    }
  }
  
  .director {
    align-self: flex-start;
    text-align: left;

    .item {
      background-color: $clr-accent-a0;
    }
  }
  
  .cast {
    padding-left: 1.5rem;
    text-align: left;
    border-left: 2px solid $clr-surface-tonal-a40;
    align-self: flex-start;
  }
  
  .actors.grid {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto;
    gap: 0.75rem;
    grid-auto-flow: column;
    justify-content: flex-start;
  }
  
  .movie-details {
    padding: 2.5rem
  }
}

.edit-movie {
  padding-bottom: 5rem;

}
