@use "./config" as *;


.nav {
  padding: 1.25rem 0;
  font-size: 0.7rem;
  
  h1 {
    text-align: left;
    color: $clr-primary-a0;
  }

  nav {
    font-weight: bold;
    padding: 0 2.5rem;

    a {
      color: $clr-accent-a40;
      
      &.active {
        color: $clr-primary-a40;
      }
    }
  }

  section {

    .logout {
      display: flex;
      gap: 0.4rem;
      align-items: center;

      h2 {
        font-size: 1rem;
      }

      .btn {
        padding: 0.5rem 0.8rem;
      }
    }
    
    .login-register {
      display: flex;
      gap: 0.4rem;
    }
  }

  &.flex {
    flex-direction: row;
    justify-content: space-between;
  }
}